/* Home page styles */
@font-face {
    font-family: 'cakefont';
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cakedingbats-webfont.woff2') format('woff2'),
    url('../font/cakedingbats-webfont.woff') format('woff'),
    url('../font/cakedingbats-webfont.ttf') format('truetype'),
    url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.big-events{
    transition-duration: 200ms;
}

.big-events:hover{
    transition-duration: 200ms;
    margin: -15px;
    cursor: pointer;
}

.big-events:hover > .hover-presentation{
    transition-duration: 200ms;
    display: flex !important;
    backdrop-filter: blur(5px);
    text-shadow: transparent 1px 0 5px;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.big-events:hover > .event-presentation {
    transition-duration: 200ms;
    display: none !important;
}

.leaflet-control-attribution{
    display: none;
}
.leaflet-bar{
    border: none !important;
}

.pan{
    fill: red;
}
