html, body {
    background-color: #222436 !important;
    height: 100%;
}


main{
    height: 100%;
}

@media (min-width: 576px) {
    main{
        height: 100%;
        overflow: hidden;
    }
}


/* Home page styles */
@font-face {
    font-family: 'cakefont';
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cakedingbats-webfont.woff2') format('woff2'),
    url('../font/cakedingbats-webfont.woff') format('woff'),
    url('../font/cakedingbats-webfont.ttf') format('truetype'),
    url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.big-events {
    transition-duration: 200ms;
}

.big-events:hover {
    transition-duration: 200ms;
    margin: -5px;
    cursor: pointer;
}

.big-events:hover > .hover-presentation {
    transition-duration: 200ms;
    display: flex !important;
    backdrop-filter: blur(5px);
    text-shadow: transparent 1px 0 5px;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.big-events:hover > .event-presentation {
    transition-duration: 200ms;
    display: none !important;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-bar {
    border: none !important;
}

.pan {
    fill: red;
}

.gray-filter {
    filter: grayscale(100%);
}

.credit-card{
    filter: blur(2px);
}

.rounded-img{
    width: 15rem;
    object-fit: cover;
    height: 15rem;
    border-radius: 25rem;
}
.object-right{
    object-position: right;
}

.glass-effect{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.22);
}

.card-effect{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


.card-effect > img{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.card-effect:hover {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.33) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
    background-blend-mode: color;
}

.card-effect > a {
    transition: all 0.2s ease-in;
    height: 0px;
    padding : 0px;
    color : transparent;
}

.card-effect:hover > a {
    transition: all 0.2s ease-in;
    height: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.60rem;
    color : var(--bs-light);
}

.card-effect:hover > a:hover {
    color : var(--bs-dark);
}


.card-effect:hover > img {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 20rem;
}

.center-placeholder::placeholder{
    text-align: center;
}
