html, body {
    background-color: var(--bs-gray-800);
}
.z-index-100{
    z-index: 100;
}
.left-50{
    left: 50%;
    transform: translate(-50%, 0);
}
.text-ellipsis{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.animated-background {
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, rgba(238, 238, 238, 0.1) 10%, rgba(221, 221, 221, 0.25) 18%, rgba(238, 238, 238, 0.1) 33%);
    background-size: 800px 104px;
    border-radius: 20rem;
}

.glint-effect{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


.glint-effect > img{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.glint-effect:hover {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.33) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
    background-blend-mode: color;
}

.glint-effect > button {
    transition: all 0.2s ease-in;
    height: 0px;
    padding : 0px;
    color : transparent;
}

.glint-effect:hover > button {
    transition: all 0.2s ease-in;
    height: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color : var(--bs-light);
}

.glint-effect:hover > button:hover {
    color : var(--bs-dark);
}


.glint-effect:hover > img {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 20rem;
}


.blur-background{
    backdrop-filter: blur(5px);
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
