html, body {
    background-color: var(--bs-gray-800);
}
.z-index-100{
    z-index: 100;
}
.left-50{
    left: 50%;
    transform: translate(-50%, 0);
}
.text-ellipsis{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
